html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 20px;
  background-color: #202225;
}

.window {
  border-radius: 0.5rem;
  background-color: #2f3136;
  height: 32rem;
  width: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 0;
}

.buttonsAndWindow {
  width: 90%;
  height: 90%;
  /*background-color: red;*/
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.outputWindow {
  background-color: white;
  text-align: right;
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
}

#output {
  margin-right: 1rem;
  margin-left: 1rem;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.7fr;
  grid-template-rows: auto auto auto auto;
  padding-top: 1rem;
  user-select: none;
}

.keys {
  background-color: #677bc4;
  /*border: 1px solid black;*/
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.keys:active,
#equals:active {
  background-color: #99aab5;
}

.functionButtons {
  background-color: #97abf1;
}

#equals {
  background-color: #215fbb;
}

@media only screen and (max-width: 767px) {
  .window {
    border-radius: 0;
    box-shadow: 0;
    height: 100%;
    width: 100%;
  }
}
